<%- include('partials/head') %>
    <h1><%= title %></h1>

    <nav>
        <ul>
            <li>
                <a href="/products">Lista de productos</a>
                <a href="/">Incio</a>
            </li>
        </ul>
    </nav>
</body>


<%- include('partials/footer') %>